
*{
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 480px){

}

@media only screen and (win-width: 481px) and (max-width: 968px){

}

@media only screen and (win-width: 969px){

}


body{
    background-color: #2b806a ;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    display: grid;
    place-items: center;
    height: 100vh;
    
}
p{
    color: white;
}


.menu-container{
    color: #2c2c2c;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
    grid-column: span 4;

}

.menu{
    width: 45%;
    display: flex;
    justify-content: space-around;
}





h1{
    background-color: #2c2c2c;
    padding: 45px 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1.5px solid #2c2c2c;

    margin-bottom: 50px;
}



.grid-container{
    display: grid;
    grid-template-rows: repeat(4,150px);
    border: 3px solid black;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-template-areas: 
    'header header header header'
    'header header header header'
    'aside centro centro centro'
    'aside centro centro centro'
    'aside centro centro centro'
    'footer footer footer footer'
    'footer footer footer footer'
    'footer footer footer footer'
    'footer footer footer footer'
    'footer footer footer footer'
    'footer footer footer footer';
}

.grid-item{
    border: 2px solid black;
}

.grid-uno{
    grid-column: 1 / span 3;
    grid-row: 1 / span 4;
    grid-area: header;


}

.grid-dos{
    grid-area: aside;
}

.grid-tres{
    grid-area: centro;
}

.grid-cuatro{
    grid-area: footer;
}


.footer{
    background-color: #2c2c2c;
    text-align: center;
    
    
    
    

}