
body{
    background: black;
    font-family: Arial, Helvetica;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{

    padding: 50px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    
}



nav{

    display: flex;
    flex-direction: row;
    background-color: rgb(41, 21, 21);
    justify-content: right;
    padding: 15px;
    
    
}

ul{
    width: 400px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 80px;
    

}

a{
    text-decoration: none;
    color: #fff8f8;
    font-size: 20px;
    justify-content: space-between;
    display: inline-block;

    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: white;
}

section{
    display: flex;
    justify-content: space-evenly;
    flex: 70%;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    align-content: flex-start;
    flex-wrap: wrap;
    color: white;
    
    }

.publi1{
    box-shadow: rgb(114, 56, 56) 3px 3px 5px 5px;
}

.publi2{
    box-shadow: rgb(114, 56, 56) 3px 3px 5px 5px;
}
.publi3{
    box-shadow: rgb(114, 56, 56) 3px 3px 5px 5px;
}
.publi4{
    box-shadow: rgb(114, 56, 56) 3px 3px 5px 5px;
}
.publi5{
    box-shadow: rgb(114, 56, 56) 3px 3px 5px 5px;
}
.publi6{
    box-shadow: rgb(114, 56, 56) 3px 3px 5px 5px;
}

footer{
        padding: 5px;
        text-align: center;
        background-color: rgb(41, 21, 21);
        height: 120px;
        color: white;
    }

@media screen and (max-width: 700px){
    nav, ul, .row{
        flex-direction: column;
    }
}
