@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------------------------------------------------------------------------- */

body{
    background-color: #0a0909;
    font-family: Arial, Helvetica;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    border: #121212 25px 0px 0px 0px;
    color: #fff8f8;
}

/*---------------------------------------------------------------------------------------------- */

header{
    background-color: black;
    padding: 2px;
    text-align: center;
    color: #1b1717;
}

/*---------------------------------------------------------------------------------------------- */

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    justify-content: right;
    padding: 25px;
    border-bottom: 1px solid rebeccapurple;
}

/*---------------------------------------------------------------------------------------------- */

ul{
    width: 400px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 80px;
    padding-left: 2px;
}

/*---------------------------------------------------------------------------------------------- */

h1{
    padding: 20px;
    color: #fff8f8;
}

/*---------------------------------------------------------------------------------------------- */

h3{
    margin-top: 25px;
    margin-left: 300px;
    color: #ffffff;
}

/*---------------------------------------------------------------------------------------------- */

h4{
    font-family: 'Staatliches', cursive;
    color: #fff8f8;
}

/*---------------------------------------------------------------------------------------------- */

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    justify-content: space-between;
}

/*---------------------------------------------------------------------------------------------- */

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 150px;
}

/*---------------------------------------------------------------------------------------------- */

.row2{
    display: flex;
    padding: 5px;
}

/*---------------------------------------------------------------------------------------------- */

aside{
    flex: 30px;
    color: white;
}

/*---------------------------------------------------------------------------------------------- */

.circle1, .circle2, .circle3, .circle4{
    width: 170px;
    height: 170px;
    margin: 30px;
    border-radius: 35%;
    box-shadow: rgb(148, 148, 148) 0px 0px 8px 8px;
    justify-content: center;
    display: flex;
}

/*---------------------------------------------------------------------------------------------- */

section{
    display: flex;
    justify-content: space-around;
    flex: 70%;
    padding: 20px;
    align-content: flex-start;
    flex-wrap: wrap;
    color: rgb(241, 241, 239);
    margin-top: 10px;
    margin: 0 auto;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    }

/*---------------------------------------------------------------------------------------------- */

.publi1{
    box-shadow: rebeccapurple 0px 0px 8px 8px;
    margin-right: 35px;
    border-radius: 8px;
    margin-bottom: 60px;
}

/*---------------------------------------------------------------------------------------------- */

.publi2{
    box-shadow: rebeccapurple 0px 0px 8px 8px;
    margin-right: 35px;
    border-radius: 8px;
    margin-bottom: 60px;
}

/*---------------------------------------------------------------------------------------------- */

.publi3{
    box-shadow: rebeccapurple 0px 0px 8px 8px;
    margin-right: 35px;
    border-radius: 8px;
    margin-bottom: 60px;
}

/*---------------------------------------------------------------------------------------------- */

.publi4{
    box-shadow: rebeccapurple 0px 0px 8px 8px;
    margin-right: 36px;
    border-radius: 8px;
    margin-bottom: 60px;
}

/*---------------------------------------------------------------------------------------------- */

.publi5{
    box-shadow: rebeccapurple 0px 0px 8px 8px;
    margin-right: 36px;
    margin-top: 8px;
    border-radius: 8px;
    margin-bottom: 60px;
}

/*---------------------------------------------------------------------------------------------- */

.publi6{
    box-shadow: rebeccapurple 0px 0px 8px 8px;
    margin-right: 36px;
    margin-top: 8px;
    border-radius: 8px;
    margin-bottom: 60px;
}

/*---------------------------------------------------------------------------------------------- */

.publi7{
    box-shadow: rebeccapurple 0px 0px 8px 8px;
    margin-right: 36px;
    margin-top: 8px;
    border-radius: 8px;
    margin-bottom: 60px;
}

/*---------------------------------------------------------------------------------------------- */

.publi8{
    box-shadow: rebeccapurple 0px 0px 8px 8px;
    margin-right: 36px;
    margin-top: 8px;
    border-radius: 8px;
    margin-bottom: 60px;
}

/*---------------------------------------------------------------------------------------------- */

.mapa{
    margin-top: 200px;
}

/*---------------------------------------------------------------------------------------------- */

.formulario{
    margin-top: 200px;
}

/*---------------------------------------------------------------------------------------------- */

.column{
    flex: 25%;
    padding: 5px;
}

/*---------------------------------------------------------------------------------------------- */

.column img{
    margin-top: 5px;
    width: 100%;
}

/*---------------------------------------------------------------------------------------------- */

.batman img{
    border-radius: 20px;
    box-shadow: rgb(114, 56, 56) 0px 0px 3px 3px;
}

/*---------------------------------------------------------------------------------------------- */

.inf1{
    background-color: rgb(27, 26, 24);
    box-shadow: rgb(114, 56, 56) 0px 0px 1px 1px;
    border-radius: 20px;
    padding: 10px;
}

/*---------------------------------------------------------------------------------------------- */

footer{
        padding: 5px;
        text-align: center;
        background-color: rgb(18, 8, 29);
        height: 120px;
        color: white;
    }

/*---------------------------------------------------------------------------------------------- */

@media screen and (max-width: 700px){
    nav, ul, .row, .mapa, .formulario{
        flex-direction: column;
    }
}

/*---------------------------------------------------------------------------------------------- */

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}

/*---------------------------------------------------------------------------------------------- */

@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}