@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #121212;
    font-family: Arial, Helvetica;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    border: #121212 25px 0px 0px 0px;
    
    
}

header{

    padding: 10px;
    text-align: center;
    color: #fff8f8;
    
    
}



nav{

    display: flex;
    flex-direction: row;
    background-color: rgb(41, 21, 21);
    justify-content: right;
    padding: 25px;
    

    
}

ul{
    width: 400px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 80px;
    padding-left: 2px;
    

}

a{
    text-decoration: none;
    color: #fff8f8;
    font-size: 20px;
    justify-content: space-between;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 150px;
}

aside{
    flex: 30px;
    padding: 20px;
    color: white;
}

.circle1, .circle2, .circle3, .circle4{
    width: 170px;
    height: 170px;
    margin: 40px;
    border-radius: 50%;
    box-shadow: rgb(148, 148, 148) 0px 0px 8px 8px;
    text-align: center;
    justify-content: center;
    

}

section{
    display: flex;
    justify-content: space-around;
    flex: 70%;
    padding: 20px;
    align-content: flex-start;
    flex-wrap: wrap;
    color: white;
    margin-top: 10px;
    }

.publi1{
    box-shadow: rgb(114, 56, 56) 0px 0px 8px 8px;
    margin-right: 35px;
    border-radius: 8px;
    margin-bottom: 60px;

    
}

.publi2{
    box-shadow: rgb(114, 56, 56) 0px 0px 8px 8px;
    margin-right: 35px;
    border-radius: 8px;
    margin-bottom: 60px;
}
.publi3{
    box-shadow: rgb(114, 56, 56) 0px 0px 8px 8px;
    margin-right: 35px;
    border-radius: 8px;
    margin-bottom: 60px;

}
.publi4{
    box-shadow: rgb(114, 56, 56) 0px 0px 8px 8px;
    margin-right: 36px;
    border-radius: 8px;
    margin-bottom: 60px;

}
.publi5{
    box-shadow: rgb(114, 56, 56) 0px 0px 8px 8px;
    margin-right: 36px;
    margin-top: 8px;
    border-radius: 8px;
    margin-bottom: 60px;


}
.publi6{
    box-shadow: rgb(114, 56, 56) 0px 0px 8px 8px;
    margin-right: 36px;
    margin-top: 8px;
    border-radius: 8px;
    margin-bottom: 60px;


}

.publi7{
    box-shadow: rgb(114, 56, 56) 0px 0px 8px 8px;
    margin-right: 36px;
    margin-top: 8px;
    border-radius: 8px;
    margin-bottom: 60px;
    

}

.publi8{
    box-shadow: rgb(114, 56, 56) 0px 0px 8px 8px;
    margin-right: 36px;
    margin-top: 8px;
    border-radius: 8px;
    margin-bottom: 60px;


}

.mapa{
    margin-top: 200px;
}

.formulario{
    margin-top: 200px;
}





footer{
        padding: 5px;
        text-align: center;
        background-color: rgb(41, 21, 21);
        height: 120px;
        color: white;
    }

@media screen and (max-width: 700px){
    nav, ul, .row{
        flex-direction: column;
    }
}
